<!-- Footer, bg-primary for colour -->
<footer class="bg-primary">
    <!-- align text centere, fs for font size, p for padding -->
    <div class="text-center fs-5 p-4">
        <b>2023: Richard Daly G00246442</b>
    </div>
</footer>