<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>404</title>

    <!-- Parital of bootstrap and custom stylesheet -->
    <%- include("partials/stylesheets.ejs") %>
</head>

<body>
    <!-- Container-style is a custom styling, see style.css -->
    <div class="container container-style">
        <!-- partial includes logo and navbar -->
        <%- include("partials/header.ejs") %>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <img class="img-fluid mx-auto d-block" src="static/img/404.jpg" alt="404 not found.">
                </div>
            </div>

            <!-- partial of footer -->
            <%- include("partials/footer.ejs") %>
    </div>
    <!-- parital including bootstrap javascript -->
    <%- include("partials/bootstrapScript.ejs") %>
</body>

</html>